[package]
name = "youtube_chat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.69"
regex = "1.7.1"
reqwest = "0.11.14"
url = "2.3.1"
